{% extends "base.twig" %}
{% block title %} Add Item {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <form id="add-form" class = "register_form" action="{{ path_for('addItem') }}" enctype="multipart/form-data" method="POST">
                    <label>
                        Title
                        <input type="text" class="form-control" name="title" id="title"required>
                        <small class="text-danger" id="titleError">
                            {% if errors['title'] is defined %}
                                <li>{{ errors['title'] }}</li>
                            {% endif %}
                        </small>
                    </label>
                    <label>
                        Description
                        <input type="text" class="form-control" name="description" required>
                        <small class="text-danger" id="description">
                            {% if errors['description'] is defined %}
                                <li>{{ errors['description'] }}</li>
                            {% endif %}
                        </small>
                    </label>
                    <label>
                        Price
                        <input type="number" class="form-control" step="any" name="price" pattern="/^\d+(\.\d{1,2})?$/" required>
                        <small  class="text-danger" id="price">
                            {% if errors['price'] is defined %}
                                <li>{{ errors['price'] }}</li>
                            {% endif %}
                        </small>
                    </label>
                    <div>
                        <label for="category">Category</label>
                        <select class="form-control" name="category" id="category" required>
                            <option>Computers and electronic</option>
                            <option>Cars</option>
                            <option>Sports</option>
                            <option>Games</option>
                            <option>Fashion</option>
                            <option>Home</option>
                            <option>Other</option>
                        </select>
                        <small class="text-danger" id="categoryError">
                            {% if errors['category'] is defined %}
                                <li>{{ errors['category'] }}</li>
                            {% endif %}
                        </small>
                    </div>
                    <label>
                        Profile Image
                        <input type="file" name="files[]" multiple>
                        {% if errors['file'] is defined %}
                            <ol>
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                    </label>
                    <input type="submit" class="btn btn-primary" value="Add Item">
                </form>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
{% endblock %}