{% extends "base.twig" %}
{% block title %} Home page {% endblock %}
{% block content %}

    {% for item in items %}
        <li>{{ item.title }}</li>
        <li>{{ item.description }}</li>
        <li>{{ item.price }}</li>
        <img src="{{ base_url() }}/assets/Images/{{ item.productImage }}" heigth = "480" width = "360" alt="ItemImage">
        <li>{{ item.category }}</li>
        </br>
    {% endfor %}

{% endblock %}