{% extends "base.twig" %}
{% block title %} Home page {% endblock %}
{% block content %}
    <div class="row">
        {% if items is defined  %}
            {% if mine == 0  %}
                {% for item in items %}
                    <div class="col-sm-3 d-flex">
                        <div class="card my-3">
                            <form id="register-form" class = "register_form" action="{{ path_for('overview') }}" method="POST">
                                <input type="hidden" name="image" value="{{ item.Id }}"/>
                                <input type="image" class="card-img-top" src="{{ base_url() }}/assets/Images/{{ item.productImage }}" height="380" alt="submit">
                            </form>
                            <div class="card-body">
                                <h4 class="card-title">{{ item.price }}€</h4>
                                <h6 class="card-title">{{ item.title }}</h6>
                                <h8 class="card-subtitle mb-2 text-muted">{{ item.category }}</h8>
                                <p class="card-text my-3">{{ item.description }}</p>
                                {% if logged  == true and item.owner != user%}
                                <form id="register-form" class = "register_form" action="{{ path_for('buy') }}" method="POST">
                                    <button class="btn btn-dark" style="margin-right: 5px; border-radius: 13px">Like</button>
                                    <input type="hidden" name="item" value="{{ item.Id }}"/>
                                    <input type="submit" class="btn btn-dark" style="border-radius: 13px" value="Buy"/>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else  %}
                {% for item in items %}
                    <div class="col-sm-3 d-flex">
                        <div class="card my-3">
                            <form id="register-form" class = "register_form" action="{{ path_for('overview') }}" method="POST">
                                <input type="hidden" name="image" value="{{ item.Id }}"/>
                                <input type="image" class="card-img-top" src="{{ base_url() }}/assets/Images/{{ item.productImage }}" height="380" alt="submit">
                            </form>
                            <div class="card-body">
                                <h4 class="card-title">{{ item.title }}</h4>
                            </div>
                            {% if item.sold %}
                            <div class="card-body">
                                <h6 class="card-title" style="color: red; font-weight: bold;" >SOLD OUT</h6>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif  %}
        {% endif  %}
    </div>
{% endblock %}