{% extends "base.twig" %}
{% block title %} Product overview {% endblock %}
{% block content %}
    <div class="row">
        {% if item is defined  %}
            {% if mine == 0  %}
                <div class="container">
                    <div class="row">
                        <h1 class="display-5">{{ item.title }}</h1>
                    </div>
                    <div class="row">
                        <img src="{{ base_url() }}/assets/Images/{{ item.productImage }}" height="380" alt="Image">
                    </div>
                    <div class="row">
                        <h3 class="card-title">{{ item.price }}€</h3>
                    </div>
                    <div class="row">
                        <h5 class="card-subtitle mb-2 text-muted">{{ item.category }}</h5>
                    </div>
                    <div class="row">
                        <p class="card-text my-3">{{ item.description }}</p>
                    </div>
                    <div class="row">
                        {% if logged  == true and mine == 0 %}
                            <form id="register-form" class = "register_form" action="{{ path_for('buy') }}" method="POST">
                                <button type="button"  class="btn btn-dark" style="margin-right: 5px; border-radius: 13px">Like</button>
                                <input type="hidden" name="item" value="{{ item.Id }}"/>
                                <input type="submit" class="btn btn-dark" style="border-radius: 13px" value="Buy"/>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if mine == 1  %}
                <div class="container">
                    <form action="{{ path_for('updateItem') }}" enctype="multipart/form-data" method="POST">
                        <div class="row">
                            <label class="col-5">
                                <h4>Title</h4>
                                <input type="text" class="form-control" name="title" placeholder="{{ item.title }}">
                            </label>
                        </div>
                        <div class="row">
                            <img class="col-4" src="{{ base_url() }}/assets/Images/{{ item.productImage }}" height="380" alt="Image">
                        </div>
                        <div class="row">
                            <label class="col-5">
                                <h4>Price</h4>
                                <input type="text" class="form-control" name="price" placeholder="{{ item.price }}€">
                                {% if errors['price'] is defined %}
                                    <li>{{ errors['price'] }}</li>
                                {% endif %}
                            </label>
                        </div>
                        <div class="row">
                            <label for="category" class="col-5">
                                <h4>Category : {{ item.category }}</h4>
                                <select class="form-control" name="category" id="category">
                                    <option selected disabled hidden value="none">Choose Category</option>
                                    <option value="Computers and electronic">Computers and electronic</option>
                                    <option value="Cars">Cars</option>
                                    <option value="Sports">Sports</option>
                                    <option value="Games">Games</option>
                                    <option value="Fashion">Fashion</option>
                                    <option value="Home">Home</option>
                                    <option value="Other">Other</option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <label class="col-5">
                                <h4>Description</h4>
                                <input type="text" class="form-control" name="description" placeholder="{{ item.description }}">
                                {% if errors['description'] is defined %}
                                    <li>{{ errors['description'] }}</li>
                                {% endif %}
                            </label>
                        </div>
                        <input type="hidden" name="item" value="{{ item.Id }}"/>
                        <input type="submit" class="btn btn-primary col-4 mx-3" value="Update">
                    </form>
                    <form action="{{ path_for('deleteItem') }}" method="POST">
                        <input type="hidden" name="item" value="{{ item.Id }}"/>
                        <input type="submit" class="btn btn-danger col-4 mx-3" value="Delete Item">
                    </form>
                    <a class="btn btn-danger" style="border-radius: 13px" href="{{ path_for('delete') }}">Delete Item</a>
                </div>
            {% endif %}
        {% endif  %}
    </div>
{% endblock %}