{% extends "base.twig" %}
{% block title %} Product overview {% endblock %}
{% block content %}
    <div class="row">
        {% if item is defined  %}
                <div class="container">
                    <div class="row">
                        <h1 class="display-5">{{ item.title }}</h1>
                    </div>
                    <div class="row">
                        <img src="{{ base_url() }}/assets/Images/{{ item.productImage }}" height="380" alt="Image">
                    </div>
                    <div class="row">
                        <h3 class="card-title">{{ item.price }}€</h3>
                    </div>
                    <div class="row">
                        <h5 class="card-subtitle mb-2 text-muted">{{ item.category }}</h5>
                    </div>
                    <div class="row">
                        <p class="card-text my-3">{{ item.description }}</p>
                    </div>
                    <div class="row">
                        {% if logged  == true and mine == 0%}
                            <a class="btn btn-dark" style="margin-right: 5px; border-radius: 13px" href="{{ path_for('login') }}">Like</a>
                            <a class="btn btn-dark" style="border-radius: 13px" href="{{ path_for('login') }}">Buy</a>
                        {% endif %}
                </div>
        {% endif  %}
    </div>
{% endblock %}