{% extends "base.twig" %}
{% block title %} Profile {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-5">Your Profile</h1>
                <p class="lead">Here you will be able to see and edit your profile information</p>
                <p class = "lead">If you want to delete your account press here <a class="btn btn-danger" style="border-radius: 13px" href="{{ path_for('delete') }}">Delete account</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="display-5">Profile image</h4>
                <img src="{{ base_url() }}/uploads/{{ image }}" heigth = "480" width = "360" alt="You haven't upload an image yet">
                <form action="{{ path_for('image') }}" enctype="multipart/form-data" method="POST">
                    <input type="file" name="files[]" multiple>
                    {% if errors['file'] is defined %}
                        <ol>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                    <input type="submit" value="Change Image">
                </form>
            </div>
        </div>
        <form id="profileForm" class = "register_form" action="{{ path_for('update') }}" method="POST">
            <div class="row py-4">
                <label class="col-3">
                    Name
                    <input type="text" class="form-control" name="name" value="{{ user.name }}">
                    <small class="text-danger" id="nameErrorFormat">
                        {% if errors['nameFormat'] is defined %}
                            {{ errors['nameFormat'] }}
                        {% endif %}
                    </small>
                </label>
                <label class="col-3">
                    Email
                    <input type="email" class="form-control" name="email" value="{{ user.email }}">
                    <small class="text-danger" id="emailErrorFormat">
                        {% if errors['email'] is defined %}
                            <li>{{ errors['email'] }}</li>
                        {% endif %}
                    </small>
                </label>
            </div>
            <div class="row">
                <label class="col-3">
                    Birth Date
                    <input type="date" class="form-control" name="birthdate" value="{{ user.birthdate }}">
                    <small class="text-danger" id="birthdateError">
                        {% if errors['birthdate'] is defined %}
                            <li>{{ errors['birthdate'] }}</li>
                        {% endif %}
                    </small>
                </label>
                <label class="col-3">
                    Phone Number
                    <input type="tel" class="form-control" name= "phone_number" aria-describedby="pattern" pattern="[0-9]{3} [0-9]{3} [0-9]{3}" value="{{ user.phone_number }}">
                    <small id="pattern" class="form-text text-muted">Format: xxx xxx xxx</small>
                    <small class="text-danger" id="phoneNumberError">
                        {% if errors['phone'] is defined %}
                            {{ errors['phone'] }}
                        {% endif %}
                    </small>
                    <small class="text-danger" id="phoneNumberErrorLength">
                        {% if errors['phonelength'] is defined %}
                            {{ errors['phonelength'] }}
                        {% endif %}
                    </small>
                </label>
            </div>
            <label class="col-5 mx-5 py-2">
                Username
                <input type="text" class="form-control" value="{{ user.username }}" disabled>
            </label>
            <div class="py-3">
                <input type="submit" class="btn btn-primary col-5 mx-5" value="Save">
                {% if errors['empty'] is defined %}
                    <li>{{ errors['empty'] }}</li>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
