{% extends "base.twig" %}
{% block title %} Register {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <form id="registerForm" action="{{ path_for('register') }}" enctype="multipart/form-data" method="POST">
                    <div>
                        <label>
                            Name
                            <input type="text" class="form-control" name="name" required>
                            <small class="text-danger" id="nameErrorFormat">
                                {% if errors['nameFormat'] is defined %}
                                    {{ errors['nameFormat'] }}
                                {% endif %}
                            </small>
                            <small class="text-danger" id="nameError">
                                {% if errors['name'] is defined %}
                                    {{ errors['name'] }}
                                {% endif %}
                            </small>


                        </label>
                    </div>
                    <div>
                        <label>
                            Username
                            <input type="text" class="form-control" name="username" required>
                            <small class="text-danger" id="usernameError">
                                {% if errors['username'] is defined %}
                                    {{ errors['username'] }}
                                {% endif %}
                            </small>

                            <small class="text-danger" id="usernameErrorFormat">
                                {% if errors['usernameFormat'] is defined %}
                                    {{ errors['usernameFormat'] }}
                                {% endif %}
                            </small>

                            <small class="text-danger" id="usernameErrorCaught">
                                {% if errors['usernameCaught'] is defined %}
                                    {{ errors['usernameCaught'] }}
                                {% endif %}
                            </small>

                        </label>
                    </div>
                    <div>
                        <label>
                            Email
                            <input type="email" class="form-control" name="email" required>
                            <small class="text-danger" id="emailErrorFormat">
                                {% if errors['email'] is defined %}
                                    {{ errors['email'] }}
                                {% endif %}
                            </small>
                        </label>
                    </div>
                    <div>
                        <label>
                            Birth Date
                            <input type="date" class="form-control" name="birthdate" value="2019-02-11">
                            <small class="text-danger" id="birthdateError">
                                {% if errors['birthdate'] is defined %}
                                    <li>{{ errors['birthdate'] }}</li>
                                {% endif %}
                            </small>
                        </label>
                    </div>
                    <div>
                        <label>
                            Phone Number
                            <input type="tel" class="form-control" name="phone_number" aria-describedby="pattern" pattern="[0-9]{3} [0-9]{3} [0-9]{3}" required>
                            <small id="pattern" class="form-text text-muted">Format: xxx xxx xxx</small>
                            <small class="text-danger" id="phoneNumberError">
                                {% if errors['phone'] is defined %}
                                    {{ errors['phone'] }}
                                {% endif %}
                            </small>
                            <small class="text-danger" id="phoneNumberErrorLength">
                                {% if errors['phonelength'] is defined %}
                                    {{ errors['phonelength'] }}
                                {% endif %}
                            </small>
                        </label>
                    </div>
                    <div>
                        <label>
                            Password
                            <input type="password" class="form-control" name="password" required>
                            <small class="text-danger" id="passwordError">
                                {% if errors['password'] is defined %}
                                    {{ errors['password'] }}
                                {% endif %}
                            </small>

                        </label>
                    </div>
                    <div>
                        <label>
                            Confirm Password
                            <input type="password" class="form-control" name="confirm_password" required>
                            <small class="text-danger" id="confirmPasswordError">
                                {% if errors['repPassword'] is defined %}
                                    {{ errors['repPassword'] }}
                                {% endif %}
                            </small>

                        </label>
                    </div>
                    <div>
                        <label>
                            Profile Image
                            <input type="file" name="files[]" multiple>
                            <small class="text-danger" id="confirmPasswordError">
                                {% if errors['file'] is defined %}
                                        {% for error in errors %}
                                            {{ error }}
                                        {% endfor %}
                                {% endif %}
                            </small>
                        </label>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Register">
                </form>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
{% endblock %}
