{% extends "base.twig" %}
{% block title %} Register {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <form id="register-form" class = "register_form" action="{{ path_for('register') }}" method="POST">
                    <div>
                        <label>
                            Name
                            <input type="text" class="form-control" name="name" required
                            {% if errors['name'] is defined %}
                                <li>{{ errors['name'] }}</li>
                            {% endif %}
                            {% if errors['nameFormat'] is defined %}
                                <li>{{ errors['nameFormat'] }}</li>
                            {% endif %}
                        </label>
                    </div>
                    <div>
                        <label>
                            Username
                            <input type="text" class="form-control" name="username" required>
                            {% if errors['username'] is defined %}
                                <li>{{ errors['username'] }}</li>
                            {% endif %}
                            {% if errors['usernameFormat'] is defined %}
                                <li>{{ errors['usernameFormat'] }}</li>
                            {% endif %}
                            {% if errors['usernameCaught'] is defined %}
                                <li>{{ errors['usernameCaught'] }}</li>
                            {% endif %}
                        </label>
                    </div>
                    <div>
                        <label>
                            Email
                            <input type="email" class="form-control" name="email" required>
                            {% if errors['email'] is defined %}
                                <li>{{ errors['email'] }}</li>
                            {% endif %}
                        </label>
                    </div>
                    <div>
                        <label>
                            Birth Date
                            <input type="date" class="form-control" name="birthdate">
                        </label>
                    </div>
                    <div>
                        <label>
                            Phone Number
                            <input type="tel" class="form-control" name="phone_number" aria-describedby="pattern" pattern="[0-9]{3} [0-9]{3} [0-9]{3}" required>
                            <small id="pattern" class="form-text text-muted">Format: xxx xxx xxx</small>
                            {% if errors['phone'] is defined %}
                                <li>{{ errors['phone'] }}</li>
                            {% endif %}
                        </label>
                    </div>
                    <div>
                        <label>
                            Password
                            <input type="password" class="form-control" name="password" required>
                            {% if errors['password'] is defined %}
                                <li>{{ errors['password'] }}</li>
                            {% endif %}
                        </label>
                    </div>
                    <div>
                        <label>
                            Confirm Password
                            <input type="password" class="form-control" name="confirm_password" required>
                            {% if errors['repPassword'] is defined %}
                                <li>{{ errors['repPassword'] }}</li>
                            {% endif %}
                        </label>
                    </div>
                    <div>
                        <label>
                            Profile Image
                            <input type="file" name="files[]" multiple>
                        </label>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Register">
                </form>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
{% endblock %}
